@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,300);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Lora);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300);

body{
    font-family: 'Montserrat', sans-serif;
}

#welcome { 

  background: no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 600px;
  margin-bottom: 0px;
  padding-top: 50px;
}

body{
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;

}

/*navigation*/
#navigation{
    text-align: center;
    background-position: top;
    width: 100%;
    position: fixed;
    z-index: 100;
}

.navbar-default{
    border: 0;
    box-shadow: none;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    font-size: 15px !important;
    letter-spacing: 4px;
  /*  background: none;*/
    background:#7f7f7f;
    background:rgba(0,0,0,0.3);
    text-align: right;
    box-shadow: none;
    border-radius: 0;
}
.navbar .navbar-nav {
  display: inline-block;
  border: 0;
  float: center;
  vertical-align: top;
  box-shadow: none;
}
/*.title{
    float: left;
    display: inline-block;
    vertical-align: middle;
    border: 0;
    color:white;
    padding-top: 15px;
    padding-left: 10px;
}*/
.navbar .navbar-collapse {
  text-align: center;

}

/* On hover, the links will turn white */
#navigation .navbar-nav li{
    margin-left: 30px;
    margin-right: 30px;
}
.navbar-default .navbar-nav>li>a{
    color: white;
}
.navbar-nav li a:hover {
    color: white !important;
    text-decoration: underline;
}

/* The active link, when scroll to the section, the menu items will turn to different color */
.navbar-nav li a.active {
/*    color: floralwhite !important;*/
    text-decoration: underline;
/*    background-color: grey !important;*/
}

.navbar-default .navbar-collapse{
    border: none;
}
/* Remove border color from the collapsible button */
.navbar-default .navbar-toggle {
    border-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar{
    background-color: white;
}


#welcome{
    position: relative;
    background-position: left;
}
#diamond{
    display: none;
    padding-top: 55px;
    z-index: 1; 
    position:fixed; 
}
#welcome_message{
    font-family: "Source Code Pro", sans-serif;
    font-size: 48px;
    padding-top: 150px; 
    padding-left: 10px;
    color: white;
    z-index: 2; 
    position:fixed; 
}
.top{
    height: 300px;
    padding-top: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    color: white;
    vertical-align: center;
    float:center;
    font-size: 40px;
}
.top .col-md-4{
    padding-top: 70px;
    /*padding-left: 60px;*/
   /* margin: auto;*/
}

.top h1{
    font-size: 30px;
}

.top .up{
    border-bottom: solid;
}
.top .down{
    border-top: solid;
}

.container{
    margin-top: 20px;
    margin-bottom: 30px;
}
.about-img{
    padding-top: 20px;
/*    padding-left: 100px;
    width: 80%;*/
}
.about-text{
    padding-top: 50px;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}
.map{
    padding-bottom: 30px;
}
iframe{
    width:90%;
    frameBorder:0; 
    height:400px;
}
.to_top{
    padding-bottom: 20px;   
}
h1{
    text-align: center;
}
h2{
    font-size: 25px;
}
h3{
    font-size: 18px;
    margin-top: 10px;   
}


.portfolio-item{
    padding-top: 10px;
}

.intro{
    padding-left: 20px;
    padding-right: 20px;
}

.contact{
    padding-top: 50px;  
}

.input{
    padding-bottom: 10px;
}

input{
    font-size: 20px;
}

input[type=text] {
    width: 40%; 
    padding:5px; 
    border:none;
    border-bottom:2px solid #ccc; 
}
input[type=email] {
    width: 40%; 
    padding:5px; 
    border:none;
    border-bottom:2px solid #ccc; 
}

input .message {
    width: 40%; 
    height: 200px;
    padding:5px; 
    border:none;
    border-bottom:2px solid #ccc; 
}


input[type=submit] {
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

footer{
    height: 40px;
    background-color: black;
}
footer p{
    padding-top: 10px;
    padding-right: 5px;
    display: inline;
    float: right;
}
footer .nav{
    padding-left: 10px;
    padding-top: 10px;
}
footer .nav>li>a{
    display: inline;
    padding: 0px 10px;
    color: white;
}
footer .nav>li{
    display: inline;
}
footer ul{
    display: inline;
    float:left;
}

.copyright{
    color:white;
    display: inline;
    float: right;
}


/*modal*/

.portfolio-modal .modal-content {
    padding: 20px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.portfolio-modal .modal-content h2 {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 30px;
    font-size: 2em;
}

.portfolio-modal .modal-content img {
    margin-bottom: 30px;
}

.portfolio-modal .modal-content .item-details {
    margin: 30px 0;
}

.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 55px;
    height: 55px;
    background-color: transparent;
    cursor: pointer;
}

.portfolio-modal .close-modal:hover {
    opacity: .3;
}

.portfolio-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 55px;
    margin-left: 35px;
    background-color: #2c3e50;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.portfolio-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 55px;
    background-color: #2c3e50;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.portfolio-modal .modal-backdrop {
    display: none;
    opacity: 0;
}


@media screen and (min-width: 800px) and (max-width: 1024px){
    #diamond{
        display: inline;
        padding-top: 55px;
        z-index: 1; 
        position:fixed; 
    }

    #welcome_message{
        padding-top: 230px; 
        padding-left: 40px;
        color: white;
    }

    h3{
        display: inline-block;
    }
    .right{
    float: right;
    }
}

@media screen and (min-width: 1024px){
    #welcome_message{
        padding-top: 230px; 
        padding-left: 80px;
        color: white;
    }
   #diamond{
        display: inline;
        padding-top: 55px;
        z-index: 1; 
        position:fixed; 
    }

    h3{
        display: inline-block;
    }
    .right{
    float: right;
    }


}

}
@media print{
    header h1{
        display: none;
    }
    nav a{
        display:block;
        text-align: center;
        border: 0;
        text-decoration: underline;
    }
    img{
        display:none;
    }
}

