{%extends "templates/base.html" %}

{% block header %}
<div class = "top" style="background-image: url(../static/image_bw.jpg);"> 
	<div class="col-md-4 col-md-offset-4 text-center" >
		<p class = "up"></p>
		<h1>ABOUT ME</h1> 
		<p class = "down"></p>
	</div>
</div>
{% endblock %}

{% block content %}
	<div class = "aboutme container text-center">
		<div class = "col-md-4 col-md-offset-4 col-xs-8 col-xs-offset-2 about-img" > 
			<img class="img-circle img-responsive" src="static/about.jpg" alt = "soyunjin_face">
		</div>
		<div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1 about-text"> <!--right part-->
			<p>Hi! My name is So Yun Jin and I am a student at the University of Michigan School of Information studying User Experience Design. I am passionate about creating beautiful and intuitive designs and implementing them through code. I hope to work as a user experience designer or a front-end-developer in the technology sector upon graduation. <br/><br/>

			I'm from Korea, but I spent more than half of my life abroad. I lived in three different countries before coming to the US, Korea, Chile and Colombia, and traveled to many more. Raised in a Korean household in a western environment, I learned to embrace the culture of both worlds. I love exploring new places and meeting new people. Traveling and taking pictures of the different places I visit are my favorite things to do!</p>
		</div>
	</div>
	<div class ="map text-center" >
		<iframe src='https://a.tiles.mapbox.com/v4/syjin243.pjf9c0hl/attribution,zoompan,zoomwheel,geocoder,share.html?access_token=pk.eyJ1Ijoic3lqaW4yNDMiLCJhIjoiY2ltbTZkbG9wMDRleW9ibTAwOXZ5ZmRhdiJ9.n0lEfyQge7ebfIduaN0swQ#2/22.269/-163.652'></iframe>
	</div>
	<div class ="to_top text-center">
		<a href="#page-top"  title="ToTop">
    	<span class="glyphicon glyphicon-chevron-up" style="color: black" ></span> </a>
	</div>
{% endblock %}
