{% extends "templates/base.html" %}
{% block header %}
    <div class = "top" style="background-image: url(../static/contact_cover.jpg); background-position: center;"> 
		<div class="col-md-4 col-md-offset-4" >
			<p class = "up" align="center"></p>
			<h1 align="center">CONTACT</h1> 
			<p class = "down" align="center"></p>
		</div>
	</div>
{%endblock%}
{% block content %} 
    {{errormessage}}
    <form action = "/login" method = "post">
        <label>username: <input type = "text" name = "name"></label>
        <label>password: <input type = "password" name = "pw"></label>
        <input type = "submit" value = "login">
    </form> 
{%endblock%}