{%extends "templates/base.html" %}

{% block header %}
<div class = "top" style="background-image: url(../static/image_bw.jpg);"> 
	<div class="col-md-4 col-md-offset-4" >
		<p class = "up" align="center"></p>
		<h1 align="center">ABOUT ME</h1> 
		<p class = "down" align="center"></p>
	</div>
</div>
{% endblock %}

{% block content %}
	<div class = "aboutme container text-center">
		<div class = "col-md-4 col-md-offset-4 about-img" > 
			<img class="img-circle img-responsive" src="static/about.jpg" alt = "soyunjin_face">
		</div>
		<div class="col-md-7 col-md-offset-3"> <!--right part-->
<p>Hi! My name is So Yun Jin and I am a student studying at the University of Michigan. I am from Korea, but I spent more than half of my life abroad. I lived in several different countries; Korea, Chile and Colombia. Raised in a Korean household in a western environment, I can identify myself as a thrid culture kid since I embrace the culture of both worlds. I was able to travel to some of the most amazing places in the world, including Machu Pichu and the Amazons during my stay in Colombia. While living and traveling in other countries, I realized how important photographs were to keep the memory of the places I have traveled. I began taking a lot of pictures from my travels and here I am sharing them with you, so you can peek into my memories.</p>
</div>
	</div>
	<div class "map" align='center'>
	<h2> Where I've Been </h2>
	<iframe width='70%' align='center' height='500px' frameBorder='0' src='https://a.tiles.mapbox.com/v4/syjin243.pjdpf811/attribution,zoompan,zoomwheel,geocoder,share.html?access_token=pk.eyJ1Ijoic3lqaW4yNDMiLCJhIjoiY2ltbTZkbG9wMDRleW9ibTAwOXZ5ZmRhdiJ9.n0lEfyQge7ebfIduaN0swQ#2/22.269/-163.652'></iframe>
	<!-- 	<iframe width='100%' height='500px' frameBorder='0' src='https://a.tiles.mapbox.com/v4/syjin243.pjdda91e/attribution,zoompan,zoomwheel,geocoder,share.html?access_token=pk.eyJ1Ijoic3lqaW4yNDMiLCJhIjoiY2ltbTZkbG9wMDRleW9ibTAwOXZ5ZmRhdiJ9.n0lEfyQge7ebfIduaN0swQ'></iframe> -->
	
{% endblock %}
