{%extends "templates/base.html" %}

{% block header %}
    <div class = "top" style="background-image: url(../static/personal_cover.jpg); background-position: center;"> 
		<div class="col-md-4 col-md-offset-4" >
			<p class = "up" align="center"></p>
			<h1 align="center">PERSONAL</h1> 
			<p class = "down" align="center"></p>
		</div>
	</div>
{% endblock %}

{% block content %}
	<p>
		Photography is one of my biggest hobbies. I love taking photos during my travel.</p>
    <img src = "static/photography.jpg" alt = "hongkong" style="width:50%;"/>
{% endblock %}