{%extends "templates/base.html" %}

{% block header %}
    <div class = "top" style="background-image: url(../static/work_cover.jpg); background-position: center;"> 
		<div class="col-md-4 col-md-offset-4 text-center" >
			<p class = "up" ></p>
			<h1>WORK</h1> 
			<p class = "down"></p>
		</div>
	</div>
{% endblock %}

{% block content %}
	<div class="work_ex container">
		<h1>Work Experience</h1>
		<div class="col-md-8 col-md-offset-2 work"> <!--right part-->
			<h2> Samsung SDS America </h2>
			<h3> Project Management Intern, Advanced R&D team </h3>
			<h3 class="right"> Summer 2015 </h3>
			<ul>
				<li>
					Wrote efficient and readable Python scripts to scrape information from sample images using open API from image-recognition software and saved results in JSON; shared results with data scientists to perform analytics on them.
				</li>	
				<li>
					Created HTML page using Python and CSS that displays sample images paired with results from image-recognition API to assist team members understand data 

				</li>	
				<li>
					Conducted competitive analysis on major competitors and identified their weakness; presented findings to senior product manager

				</li>	
				<li>
					Identified user archetypes from sample images for data analytics team to categorize images; Shared images and archetype with development team to use in product demo
				</li>	
				<li>
					Assisted in product demo that was presented to the CEO; Project was highly praised, and featured in the company’s community page.
				</li>	
			</ul>
		</div>
		<div class="col-md-8 col-md-offset-2 work"> <!--right part-->
			<h3> Project Management Intern, Advanced R&D team </h3>
			<h3 class="right"> Summer 2014 </h3>
			<ul>
				<li>
					Participated in early ideation stage of mobile application of new product; created customer use cases to identify key functions for future development

				</li>	
				<li>
					Created wireframes of early prototype for internal presentation purposes; presented wireframes to senior manager and assisted development of working prototype
				</li>	
				<li>
					Conducted competitive analysis on major competitors and identified their weakness; presented findings to senior product manager

				</li>	
				<li>
					Conducted market research on major competitors and their technologies in health informatics industry to identify unique selling point of new product; assisted in defining project scope for development
				</li>	
				<li>
					Facilitated communication with Korean UX designers using bilingual ability 
				</li>	
			</ul>
		</div>
	</div>
	<div class = "skill container"> 
		<h1>Skills</h1>
		<div class="col-md-8 col-md-offset-2 work">
			<ul> 
				<li>Proficient at: <br/>
				C++, C, Java, Python, HTML, CSS, Matlab, MS--Excel, PowerPoint, Photoshop </li>
			 	<li>Experience with: <br/>
			 	Illustrator, AutoCAD</li>
			</ul>
		</div>
	</div>
	<div class ="to_top text-center">
		<a href="#page-top"  title="ToTop">
    	<span class="glyphicon glyphicon-chevron-up" style="color: black" ></span> </a>
	</div>
{% endblock %}